<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Author</th>
                <th>Article Amount</th>
            </tr>
        </thead>
        <tbody>
        <% finalDict.forEach((key, value) => 
        { %>
            <tr>
                <td><%= value %></td>
                <td><%= key %></td>
            </tr>
        <% }) %>
        </tbody>
    </table>
</body>
</html>